table tbody tr:hover {
    background-color:#e7e7e7;
}

.hiddenDiv{
    visibility: hidden;
}

#asapblau{
    color:rgba(6, 0, 98, 1);
}

.asapblau{
    color:rgba(6, 0, 98, 1);
}

.content-area{
    margin-top:40px;
}

#charter-table a{
    color:rgba(6, 0, 98, 1);
}

#charter-table td{
    color:black;
}

#footer{
    width: 100%;
    bottom:0;
    background-color: #e7e7e7;
    border-top: 1px solid #ccc;
    padding:10px 0px;
}

.actions.primary a {
    text-decoration: none;
    background-color: rgba(6, 55, 98, 1);
    color: rgb(255, 255, 255);
    border-radius: 1px;
    padding: 5px;
    line-height: 2;
}

.actions.primary a:hover {
    text-decoration: none;
    background-color: rgba(6, 0, 98, 1);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px grey;
}

.actions.secondary a {
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: rgba(6, 55, 98, 1);
    border: 1px solid #ccc;
    padding: 5px;
    line-height: 2;
    display:inline;
}

.actions.secondary a:hover {
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: rgba(6, 55, 98, 1);
    box-shadow: 2px 2px 4px grey;
    }


span.secondary-button-but-no-button{
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: rgba(6, 55, 98, 1);
    border: 1px solid #ccc;
    padding: 5px;
    line-height: 2;
    display:inline;
    cursor: pointer;
}
span.secondary-button-but-no-button:hover {
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: rgba(6, 55, 98, 1);
    box-shadow: 2px 2px 4px grey;
}


/*Pagination*/

ul.pagination{
    display:block;
    min-height:1.5rem;
    /* margin-left:-0.3125rem */
}

ul.pagination li{
    height:1.5rem;
    color:#222;
    font-size:0.875rem;
    /* margin-left:0.3125rem */
}

ul.pagination li a,ul.pagination li button{
    display:block;
    /* padding:0.0625rem 0.625rem 0.0625rem; */
    color:rgba(6, 55, 98, 1);
    background:none;
    border-radius:1px !important;
    font-weight:normal;
    font-size:1em;
    line-height:inherit;
    transition:background-color 300ms ease-out
}

ul.pagination li:hover a,ul.pagination li a:focus,ul.pagination li:hover button,ul.pagination li button:focus{
    background:rgb(231, 231, 231) !important;
}

ul.pagination li.unavailable a,ul.pagination li.unavailable button{
    cursor:default;
    color:#999
}

ul.pagination li.unavailable:hover a,ul.pagination li.unavailable a:focus,ul.pagination li.unavailable:hover button,ul.pagination li.unavailable button:focus{
    background:transparent
}

ul.pagination li.current a,ul.pagination li.current button{
    text-decoration: none;
    background-color: rgba(6, 55, 98, 1);
    color: rgb(255, 255, 255) !important;
    border-radius: 1px;
    padding: 5px;
    line-height: 2;
    border-collapse: separate;
}

ul.pagination li.current a:hover,ul.pagination li.current a:focus,ul.pagination li.current button:hover,ul.pagination li.current button:focus{
    background:#008cba
}

ul.pagination li{
    float:left;
    display:block;
}

.pagination-centered{
    text-align:center;
}

.pagination-centered ul.pagination li{
    float:none;
    display:inline-block;
}

ul.pagination li.active a{
    z-index:2;
    color:#fff !important;
    background-color:rgba(6, 55, 98, 1) !important;
    cursor:default
}

.pagination .active span,.pagination .active a:hover,.pagination .active span:hover,.pagination .active a:focus,.pagination .active span:focus{
    z-index:2;
    color:#fff;
    background-color:rgba(6, 0, 98, 1) !important;
    cursor:default;
}

ul.pagination li a,ul.pagination li a:focus,ul.pagination li button,ul.pagination li button{
    color:rgba(6, 55, 98, 1) !important;
}


button {
    text-transform:none;
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    border-radius: 1px;
    border: 1px solid #ccc;
    color: rgba(6, 55, 98, 1);
}
button:hover{

}

.form button[type="submit"]{
    text-transform:none;
    background-color:rgba(6, 55, 98, 1);
    color: rgb(255,255,255);
    border: 1px solid rgba(6, 55, 98, 1);
    float:none;
}

.form button[type="submit"]:hover{
    text-decoration: none;
    background-color: rgba(6, 0, 98, 1);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px grey;
}


/*Page Bottom Buttons*/

span.primary-button a{
    border-radius: 1px;
    border: 1px solid #ccc;
    text-transform:none;
    text-decoration: none;
    background-color: rgba(6, 55, 98, 1);
    border: 1px solid rgba(6, 55, 98, 1);
    color: rgb(255,255,255);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
}

span.primary-button a:hover{
    text-decoration: none;
    background-color: rgba(6, 0, 98, 1);
    color: rgb(255, 255, 255);
}

span.secondary-button a{
    border-radius: 1px;
    border: 1px solid #ccc;
    text-transform:none;
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    border: 1px solid #ccc;
    color: rgba(6, 55, 98, 1);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
}

span.secondary-button a:hover{
    background-color: #ccc;
}
